<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              
            </li>

            <li class="<%= is_active_controller('home') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                    <li class="<%= is_active_action('dashboard_1') %>"><%= link_to "Dashboard v.1", "#" %></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Dashboard v.2", "#" %></li>
                </ul>
            </li>

            <li class="<%= is_active_controller('hidric_resources') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Recurso Hídrico</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                    <li class="<%= is_active_action('indice_aridez') %>"><%= link_to "indice aridez", aridez_path %></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Dashboard v.2", "#" %></li>
                </ul>
            </li>


            <li class="<%= 'active' if current_page?('/home/minor') %>">
                <%= link_to "/home/minor" do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>